# Environments
.venv/
.venv-vantage/
env/
venv/
  

# Reflex specific
.web/
__pycache__/
*.db

# Data & Keys
.env
data/
.DS_Store

# Computer Vision
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Dataset
data/

# Model Weights (large files)
*.pth

# OS
.DS_Store
Thumbs.db
